@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap);
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.mt-5 {
  margin-top: 20px;
}
.mb-5 {
  margin-bottom: 20px;
}
.active {
  color: #116d36;
}
.title {
  color: #16b7fd;
  font-family: Montserrat, sans-serif;
  font-size: 46px;
  font-weight: 700;
}
.map {
  height: 150px;
  width: 150px;
}
#logo {
  width: 170px;
}
#logo_footer {
  margin-top: 10px;
  width: 170px;
}
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}
.back {
  background-image: url('./assets/ciber.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 99vw;
}
.container_layout {
  align-items: center;
  display: flex;
  height: 190px;
  justify-content: center;
  width: 100%;
}
.container_layout nav {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  width: 50%;
}
.container_layout ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.container_layout ul li {
  list-style: none;
}
.container_layout ul li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.container_layout ul li a:hover {
  color: #16b7fd;
  text-decoration: underline;
}
.container_layout .logo {
  width: 10%;
}
.container_header {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 98%;
  z-index: 999;
}
.container_main {
  color: #fff;
  min-height: 100vh;
  width: 100%;
}
.container_main_s1 {
  align-items: center;
  border-bottom: 1px solid #16b7fd;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  width: 100%;
}
.container_main_s1 h1,
.container_main_s1 h2 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  z-index: 999;
}
.container_main_s1 h1 {
  animation: typing 5s steps(38), blink 0.5s step-end alternate;
  border-right: 4px solid;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 38ch;
}
@keyframes typing {
  0% {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.container_main_news {
  align-items: center;
  border-bottom: 1px solid #16b7fd;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  justify-content: center;
  min-height: 70vh;
  padding: 5px;
  text-align: center;
  width: 99%;
}
.container_main_news_ciber {
  background-image: url('./assets/ciber4.webp');
  background-position: 50%;
  background-size: contain;
  height: 50vh;
  width: 100%;
}
.container_main_news_items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}
.container_main_news_item {
  border: 1px solid #fff;
  height: 500px;
  margin-bottom: 100px;
  margin-right: 10px;
  transition: all 0.4s;
  width: 400px;
}
.container_main_news_item:hover {
  transform: scale(1.1);
}
.container_main_news_item img {
  width: 100%;
}
.container_main_news_item p {
  color: #16b7fd;
  padding-right: 5px;
  text-align: right;
}
.container_main_news_item a {
  color: #16b7fd;
  font-size: 16px;
  margin-top: 10px;
}
.container_main_news_gif {
  background-image: url('./assets/ciber2.webp');
  background-size: cover;
  border: 1ps solid wheat;
  height: 150px;
  width: 150px;
  z-index: 999;
}
.container_main_news_gif img {
  width: 20px;
}
.container_main_s2 {
  border-bottom: 1px solid #16b7fd;
  flex-direction: column;
  height: 100vh;
}
.container_main_s2,
.container_main_s2_projects {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.container_main_s2_projects {
  height: 80%;
  width: 85%;
}
.container_main_s2_projects div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_main_s2_projects h3,
.container_main_s2_projects h4 {
  color: #16b7fd;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
}
.container_main_s2_projects .codeImage {
  border-radius: 99%;
  height: 450px;
  width: 450px;
}
.container_main_s2_projects .download {
  width: 150px;
}
.container .footer {
  color: #fff;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  height: 250px;
  padding-bottom: 10px;
}
.container .footer,
.container .footer_info {
  align-items: center;
  display: flex;
  justify-content: center;
}
.container .footer_info {
  justify-content: space-between;
  width: 95%;
}
.container .title {
  font-family: Montserrat, sans-serif;
}
@media (max-width: 950px) {
  .container_layout nav {
    width: 75%;
  }
  .container_main_s1 h1,
  .container_main_s1 h2,
  .container_main_s2_projects h4 {
    font-size: 20px;
  }
  .container_main_s2_projects .codeImage {
    height: 350px;
    width: 350px;
  }
  #logo {
    width: 125px;
  }
}
@media (max-width: 590px) {
  .container_layout {
    height: 235px;
  }
  .container_header {
    flex-direction: column;
  }
  .container_header .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container_header nav {
    width: 90%;
  }
  .container_header nav ul li a {
    font-size: 14px;
  }
  .container_main_s1 {
    height: 74vh;
  }
  .container_main_s1 h1,
  .container_main_s1 h2 {
    font-size: 13px;
  }
  .container_main_news_item {
    font-size: 8px;
    height: 350px;
    width: 300px;
  }
  .container_main_news_item img {
    width: 100%;
  }
  .container_main_s2_projects {
    flex-direction: column;
    height: 65vh;
  }
  .container_main_s2_projects .codeImage {
    height: 150px;
    width: 150px;
  }
  .container .title {
    font-size: 34px;
  }
  .container .footer span,
  .container .footer_info p {
    font-size: 12px;
  }
  #logo,
  .container .footer #logo_footer {
    width: 125px;
  }
}
.hideen {
  display: none;
}
.modalContainer {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-family: Montserrat, sans-serif;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.modalContainer .modal-content {
  background-color: #fefefe00;
  border: 1px solid #d3d3d3;
  border-top: 10px solid #16b7fd;
  margin: auto;
  padding: 20px;
  width: 70%;
}
.modalContainer .close {
  color: #aaaaaacb;
  float: right;
  font-size: 28px;
  font-weight: 700;
}
.modalContainer .close:focus,
.modalContainer .close:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.btn-accept {
  background-color: #16b7fd;
  border: none;
  border-radius: 20px;
  height: 30px;
  margin-top: 20px;
  width: 180px;
}
.aviso {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.aviso:hover {
  color: #16b7fd;
}
